.avatar-circle {
  width: 20px;
  height: 20px;
  
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
}

.initials {
  position: relative;
  top: 0px; /* 25% of parent */
  font-size: 10px; /* 50% of parent */
  line-height: 10px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}

.in-purple{
	background-color: #7266ba;
}

.in-green{
	background-color: #27c24c;
}

.in-orange{
	background-color: #ff902b;
}
.in-red{
	background-color: #f05050;
}
.in-yellow{
	background-color: #fad732;
}
.in-pink{
	background-color: #f532e5;
}